
body{

background-color: #eae8e7;
/*background-color: #000000;*/
color: #767270;
}



.mdc-typography--overline{
color: rgba(var(--var-theme-primary), 1) !important;
}


.sidebar-cv{
background-color: rgba(var(--var-theme-primary), 1) !important;

}

a.my_link,
a.my_link:hover,
a.my_link:visited {
    color: rgba(var(--var-theme-primary-dark), 1) !important;
    text-decoration: none;

}


div.photo-shadow{

    width: 200%;
    height: 200px;
    margin-top: -200px;
    z-index: 1;
    box-shadow: #56a1df 0px -45px 40px inset;
    margin-left: -50px;
}


.mdc-slider--disabled .mdc-slider__track-container {
    background-color: rgba(255, 255, 255, 0.26);
}


.mdc-slider--disabled .mdc-slider__track {
    background-color: #fff;
}



.mdc-slider--disabled .mdc-slider__thumb {
    fill: #fff;
}


.RDNT-open_url{

text-decoration: none;

}
